@using PratikAraBul.Models
@model HizmetlerModel

<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-6 col-12 pb-4">
            <h2>YORUMLAR</h2>


            @foreach (var item in Model.CommendList)
            {
                <div class="comment mt-4 text-justify float-left">

                    <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>@item.KullaniciAdi</h4>

                    <br>
                    <p>@item.KullaniciYorum</p>

                </div>
            }

        </div>
        <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
            <form class="form-group" id="algin-form" method="post" enctype="multipart/form-data">
                <div class="form-group">

                    <h4>Yorumunuzu Yazın</h4>
                    <label for="message">Yorumunuz</label>
                    <textarea name="KullaniciYorum" id="yorum" msg cols="30" rows="5" class="form-control" style="background-color: white;" required></textarea>
                </div>
                <div class="form-group">
                    <label for="name">İsim</label>
                    <input type="text" name="KullaniciAdi" id="adsoyad" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="KullaniciMail" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <p>Daha önce okumadıysanız lütfen yorum yapmadan önce <a href="#" class="alert-link">Gizlilik Sözleşmesi</a>ni okuyunuz. </p>
                </div>
                <div class="form-inline">
                    <input type="checkbox" name="check" id="checkbx" class="mr-1" required >
                    <label for="subscribe">Gizlilik Sözleşmesini onaylıyorum.</label>
                </div>

                <button type="submit" id="post" class="btn">Gönder</button>

            </form>

        </div>
    </div>
</div>

       
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script type="text/javascript">

$(document).ready(function () {
    $('#algin-form').submit(function (e) {
        e.preventDefault();
        var kullaniciadi = $("#adsoyad").val();
        var epostasi = $("#email").val();
        var yorumunuz = $("#yorum").val();

        $.ajax({
            url: '/MusteriHizmetleriNumaralari/YorumYap',
            data: { adsoyad: kullaniciadi, eposta: epostasi, yorum: yorumunuz, hizmetid:@ViewBag.com},
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            alert("Yorum yaptığınız için teşekkür ederiz :)");
        }

                });
            });
        })


</script>

