@using PratikAraBul.Models
@model HizmetlerModel


@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/details.css" rel="stylesheet" />
   
</head>

<body>
    <div class="details">
        <div class="leftcolumn">
            @foreach (var item in Model.HizmetlerList)
            {
                <div class="cards">
                    <h1>@item.HizmetAdi</h1>
                    <p>@Html.Raw(item.BaslikAlti)</p>
                    <img src="~/images/@item.HizmetResimUrl" class="fakeimg" style="height:450px;" />
                    <p>@Html.Raw(item.HizmetDesc)</p>

                </div>
            }
        </div>
        <div class="rightcolumn">
            <h3>En Çok Arananlar</h3>
            @foreach (var popular in Model.PopularHizmetList)
            {
                <div class="cards">

                    @Html.ActionLink(popular.PopularAd, "Details", "MusteriHizmetleriNumaralari", new { id = popular.HizmetId, hizmetadi = Seo.AdresDuzenle(popular.PopularAd) }, new { @style = "  text-decoration:none;" })

                    <img class="fakeimg" /><br>

                </div>

            }
            <div class="cards">
                <h3>Follow Me</h3>
                <p>Some text..</p>
            </div>
        </div>
    </div>
    
</body>

</html>
