* {
    box-sizing: border-box;
}
.details {
    font-family:Oswald;
    padding: 120px;
    margin-top:80px;
    background: white;
   
}
.maincard{
    width:450px;
    height:auto;
    margin:0 auto;
    border-radius:250px;
}
.mainimg {
    width: 450px;
    height: 320px;
    display: inline-block;
    margin: 0 auto;
}



.leftcolumn {
    float: left;
    width: 75%;
}


.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;

}
.rightcolumn h3{
    text-align:center;
}

.fakeimg {
    width: 100%;
    padding: 0px;
}
.populerlinks{
    text-align:center;
    color:black;
    font-size:15px;
    text-decoration:none;
    font-weight:bold;
}
.populerlinks:hover {
    
    color:black;
    
    
}
/* Add a card effect for articles */
.cards {
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
    
}

/* Clear floats after the columns */
.details:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
    .details {
       
        padding: 0px;
        margin-top: 150px;
        
    }
    
    .maincard {
        width: 300px;
        height: auto;
        margin: 0 auto;
       
    }

    .mainimg {
        width: 300px;
        height: 200px;
        display: inline-block;
        margin: 0 auto;
    }
    .rightcolumn h3 {
      margin:0 auto;
      margin-top:10px;
    }
    .populerlinks{
       text-align:center;
    }
}
/*Comment kýsmý*/
.comments-details{

}
@media(min-width:568px) {
    .end {
        margin-left: auto;
    }
}

@media(max-width:768px) {
    #post {
        width: 100%;
    }
}

#profile {
    background-color: unset;
}

#post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: blue;
    border-color: #a88734 #9c7e31 #846a29;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%;
}

.container-comment {
  
}



.comment {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: #3E8DA8;
    float: left;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px;
}

    .comment h4, .comment span, .darker h4, .darker span {
        display: inline;
    }

    .comment p, .comment span, .darker p, .darker span {
        color: azure;
    }

.col-12 h3, .col-12 h4 {
    color:aliceblue;
    font-weight: bold;
}

label {
    color: aliceblue;
}

#align-form {
    margin-top: 20px;
}

.form-group p a {
    color: white;
}

#checkbx {
    background-color: black;
}

#darker img {
    margin-right: 15px;
    position: static;
}

.form-group input, .form-group textarea {
    background-color: white;
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
}

#algin-form {
    border: 1px solid rgba(16, 46, 46, 1);
    background-color: #3E8DA8;
    border-radius: 5px;
    padding: 20px;
}
/*Yukarý Çýk Butonu*/
.top {
    --offset: 50px;

    position: sticky;
    bottom: 20px;
   
    margin-left: 10px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    text-decoration: none;
    padding: 10px;
    font-family: Oswald;
    color: #fff;
    background: #1a00ff;
    border-radius: 100px;
    white-space: nowrap;
    z-index:99999;
}
.top:hover{
    color:white;
}
/*Comments paged list*/
.pagedlist {
    border-radius: 50px;
    border: 1px solid black;
    color: black;
    font-family: fantasy;
    cursor: pointer;
}

    .pagedlist:hover {
        background-color: mediumblue;
        color: white;
        transition: 0.5s;
    }













