@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    
}
.bg-cover {
    background-size: cover !important;
}
.jumbotron {
    position: relative;
    top: 120px;
 
    background-image: url('../images/customer-service-img_header.jpg');
    width: 100%;
    height: auto;
}
    .jumbotron h1 {
        font-family: Oswald;
        color: #3E8DA8;
        font-weight: bold;
        text-shadow: 1px 1px 1px black;
    }
/*Body kısmı*/
.sample-section {
    padding: 40px 140px;
}
   
    .container-paged {
        position: relative;
        top: 120px;
    }
.pagedlist{
    border-radius:50px;
    border:1px solid black;
    color:black;
    font-family:fantasy;
    cursor:pointer;
}
.pagedlist:hover{
    background-color:mediumblue;
    color:white;
    transition:0.5s;
}


.hizcards:hover > .hizmetlercard:not(:hover) {
    filter: brightness(0.3) saturate(0) contrast(1.1) blur(5px);
}

.hizmetlercard:hover {
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.55);
    border-radius: 25px;
    transform: translateY(-10px);
}

.hizcards > hizmetlercard:hover {
    background-color: #5C5C5c;
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto,60px)) 1fr;
    grid-gap: 40px;
    padding: 40px 0;
}



section.hizcards {
    grid-column: 2 / span 2;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto,60px));
    grid-gap: 40px;
    margin-top: 100px;
}

.hizmetlercard {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    cursor: pointer;
    border-radius: 15px;
    border:1px solid black;
    transition: all 0.55s ease 0s;
}

.hizcardimg {
    width: 100%;
    padding-top: 55%;
    overflow: hidden;
    position: relative;
    border-radius: 15px 15px 0px 0px;
}

    .hizcardimg img {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }

.card-contents {
    padding: 20px;
}

    .card-contents a {
        margin-bottom: 20px;
        text-decoration: none;
        color: #3E8DA8;
        text-align: center;
        font-weight: bold;
    }
  .card-contents a:hover {
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
    }



@media only screen and (max-width: 1000px) {
    .hizmetlercard {
        grid-column-end: span 4;
    }
    .sample-header-sections h1{
        margin-top:100px;

    }

   
}

@media only screen and (max-width: 700px) {
    main {
        grid-gap:55px;
    }

    section.hizcards {
        margin-top: 85px;
        padding: 0;
    }

    .container-paged {
        margin-top:0px;
    }

}

@media only screen and (max-width: 500px) {


    section.hizcards {
        grid-column: 2 / span 6;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }

    .hizmetlercard {
        grid-column-end: span 6;
    }
}
/*Diğer Pratik Araçlar Kısmı*/
.slide-container {
    max-width: 1220px;
    width: 100%;
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: #FFF;
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content {
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
}

    .overlay::before,
    .overlay::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -40px;
        height: 40px;
        width: 40px;
        background-color: #4070F4;
    }

    .overlay::after {
        border-radius: 0 25px 0 0;
        background-color: #FFF;
    }

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

    .card-image .card-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #4070F4;
    }

.name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button {
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
}

    .button:hover {
        background: #f2f5f8;
    }

.swiper-navBtn {
    color: #6E93f7;
    transition: color 0.3s ease;
}

    .swiper-navBtn:hover {
        color: #4070F4;
    }

    .swiper-navBtn::before,
    .swiper-navBtn::after {
        font-size: 35px;
    }

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtn {
        display: none;
    }

    .sample-section {
        padding: 40px 40px;
        margin: 0 auto;
    }
}
