@using PratikAraBul.Models
<ul class="htmlCss-sub-menu sub-menu">
  
        <li>
            @Html.ActionLink("Lgs Puan Hesaplama", "LgsPuanHesaplama", "HesaplamaAraclari", new { kategoriad = Seo.AdresDuzenle("lgs puan hesaplama yüzdelik dilim hesaplama") }, new { @style = "  text-decoration:none;" })
    
        </li>

</ul>





