<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pratik Ara Bul | Lgs Puan Hesaplama Aracı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="~/Content/lgspuanhesaplama.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="row" id="rows">
        <div class="table-lgs">
            <div class="col-sm-2" id="column">

                <form name="lgshesapla" id="lgshesaplama" action="jquery_form_kontrolu_post" method="post" onsubmit="return false;">
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <td>Dersler</td>
                                <td>Doğru</td>
                                <td>Yanlış</td>

                            </tr>
                        </thead>
                        <tr>
                            <td>
                                Türkçe (20 Soru)
                                <div class="yirmisoru_uyari" style="color:red;"></div>
                            </td>
                            <td>
                                <input type="number" name="tdogru" max="20" min="0" value="0" id="yirmisoru" />

                            </td>

                            <td><input type="number" name="tyanlis" max="20" min="0" value="0" id="yirmisoru"/></td>

                        </tr>
                        <tr>
                            <td>
                                T.C. İnkılap Tarihi ve Atatürkçülük (10 Soru)
                                <div class="onsoru_uyari"></div>
                            </td>
                            <td><input type="number" name="sdogru" max="10" min="0" value="0" id="onsoru"/></td>

                            <td><input type="number" name="syanlis" max="10" min="0" value="0"  id="onsoru"/></td>
                        </tr>
                        <tr>

                            <td>
                                Matematik (20 Soru)
                                <div class="yirmisoru_uyari" style="color:red;"></div>
                            </td>
                            <td><input type="number" name="mdogru" max="20" min="0" value="0" id="yirmisoru" /></td>

                            <td><input type="number" name="myanlis" max="20" min="0" value="0" id="yirmisoru"/></td>
                        </tr>
                        <tr>
                            <td>
                                Fen Bilimleri (20 Soru)
                                <div class="yirmisoru_uyari" style="color:red;"></div>
                            </td>
                            <td><input type="number" name="fdogru" max="20" min="0" value="0"id="yirmisoru" /></td>

                            <td><input type="number" name="fyanlis" max="20" min="0" value="0" id="yirmisoru"/></td>
                        </tr>
                        <tr>
                            <td>
                                Din Kültürü ve Ahlak Bilgisi(10 Soru)
                                <div class="onsoru_uyari" style="color:red;"></div>
                            </td>
                            <td><input type="number" name="dindogru" max="10" min="0" value="0" id="onsoru"/></td>

                            <td><input type="number" name="dinyanlis" max="10" min="0" value="0" id="onsoru"/></td>
                        </tr>
                        <tr>
                            <td>
                                İngilizce(10 Soru)
                                <div class="onsoru_uyari" style="color:red;"></div>
                            </td>
                            <td><input type="number" name="ingdogru" max="10" min="0" value="0" id="onsoru"/></td>

                            <td><input type="number" name="ingyanlis" max="10" min="0" value="0" id="onsoru"/></td>
                        </tr>


                        <tr>
                            <td></td>
                            <td colspan="1"><input type="reset" value="Temizle" class="btn btn-danger" /></td>
                            <td colspan="3"><input type="button" value="Hesapla" onclick="hesapla()" class="btn btn-primary" /></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-sm-2" id="column">
                
                <form name="lgssonuc">
                    <table class="styled-table">

                        <tr>
                            <td>Türkçe Net</td>
                            <td><input type="text" name="tnet" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td>Sosyal Bilimler Net</td>
                            <td><input type="text" name="snet" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td>Matematik Net</td>
                            <td><input type="text" name="mnet" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td>Fen Bilimleri Net</td>
                            <td><input type="text" name="fnet" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td>Din Net</td>
                            <td><input type="text" name="dinnet" disabled="disabled" /></td>
                        </tr>
                        <tr>
                            <td>İngilizce Net</td>

                            <td><input type="text" name="ingnet" disabled="disabled" /></td>
                        </tr>
                    </table>
                    <table class="styled-table">

                        <tr class="active-row">
                            <td>Toplam Puan :</td>
                            <td><input type="text" disabled="disabled" name="tpuan" /></td>
                        </tr>
                        <tr class="active-row">
                            <td>Toplam Net :</td>
                            <td><input type="text" disabled="disabled" name="toplamnet" /></td>
                        </tr>

                    </table>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/LgsPuanHesaplama.js"></script>
</body>
</html>